<% unless @query.nil? %>
  <h4>Search results for <%= @query %></h4>
<% end %>
<% @peeps.each do |it| %>
  <div class="peep">
    <p><%= it.content %></p>
    <small>(<%= it.created_at %>)</small>
  </div>
<% end %>