<h4>Post a peep</h4>
<form action="/post" method="post" id="post-peep">
  <label for="content">Content</label>
  <textarea id="content" name="content" required></textarea>
  <input type="submit" content="Submit">
</form>