<form method="post" action="/peeps">
  <input type="text" name="peep" placeholder="Add your thoughts" />
  <input type="hidden"name="timestamp" value="<%=Time.now%>"> 
  <input type="submit" value="Post" />
</form>
