<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peeps</title>
</head>
<body>
<ul>
<% @peeps.each do |peep| %>
  <li><%= peep.message %>
   <br><i>Date posted: </i><%= peep.datetime %></li><br>
<%end %>
</ul>
<form action='/peeps/new' method='get'><input type='submit' value="Add a peep!"></form>
<br>
<form action='/peeps/order' method='get'><input type='submit' value="Sort by Newest Date"></form>
</body>
</html>