<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.date %> <%= peep.message %></li>
  <% end %>
</ul>

<form method="post" action="/peeps">
  <input type="text" name="message" />
  <input type="submit" name="Post Peep" />
</form>

