<head> 
  <link href="<%= url("/stylesheets/app.css") %>" rel="stylesheet" type="text/css" />
  </head>
  <form method="post" action="/continue">
  <section class="hero">
    <header id="header">
    </header>
    <header class="hero-header">
      <h1 class="hero-title">Welcome to Chitter!</h1>
    </header>
    <footer class="hero-footer">
        <button class="button button-primary" type="submit">Continue</button>
    </footer>
  </section>
</form>

