<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

/* Style the header */
header {
  background-color: #61BFA2;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #55A089;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #DAF7A6;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #61BFA2;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>
<body>
<header>
  <h2>CHITTER</h2>
  
</header>

<section>
  <nav>
    <ul>
      <li><a href="http://localhost:9292/">Chitter Home</a></li>
      <li><a href="http://localhost:9292/peeps/new">New Peep</a></li>
    </ul>
  </nav>
  
  <article>
    <h1>Welcome to the Chitterverse..</h1>
    <p>Here are the latest peeps..</p>
    <ul>
    <% @peeps.each do |peeps| %>
    <li><%= peeps %></li>
    <% end %>
     </ul>
  </article>
</section>

<footer>
  <p>laurenbethgray</p>
</footer>

</body>
</html>

