<h1> Welcome to Peeps </h1>

<form action="/peeps" method="post">
  Username:
  <input type="text" name="username" />
  Message: 
  <input type="text" name="peeps" />
  <input type="submit" name="Submit" />
  </form>


<ul>
  <% @peeps.each do |peep| %>
    <p><%= peep.username%> says: <%= peep.message %></p>
  <% end %>
</ul>
