<ul>
  <% @peeps.each do |peeps| %>
    <li><%= peeps.date %> <%= peeps.message %></li>
  <% end %>
</ul>

<form action="/peeps" method="post">
  <input type="text" name="message" />
  <input type="submit" value="Post Peep"/>
  </form>