<h1>Submit Peeps! </h1>

<form action="/peeps" method="post">
  <input type="text" name="message" placeholder="Message" />
  <input type="text" name="date" placeholder="Date" />
  <input type="submit" value="Submit" />
</form>
