<p>What's on your mind?</p>

<form action='/peeps/add' method='post'>
  <textarea type='text' name='message' placeholder='Your message' rows="4" cols="50"></textarea>
  <br><br>

  <input type='submit' value='Share now'>
</form>
