<div class="card">
  <form action='/peeps' method='post'>
    <img class="card-img-top" src="/assets/images/friends.jpg" alt="Card image cap">
    <div class="card-body">
      <div class="card-header">Chitter</div>
        <textarea id="message" name="message" placeholder="What's happening?"></textarea>
        <br/>
        <div class="wrapper">
          <button type="submit" type="submit" name="Submit" class="btn btn-outline-secondary">Peep</button>
        </div>
    </div>
</form>
</div>