<form action="/peeps" method="post">
  <input type="text" name="message" placeholder="Message"/>
  <input type="hidden" name="date" value="<%=Date.today%>">
  <input type="submit" value="Submit" />
</form>
