<link rel="stylesheet" type="text/css" href="styles.css">
<body>
  <form method="post" action="/peeps">
    <input type="text" name="message" />
    <input type="submit" name="Post Peep" />
  </form>
</body>