<head> 
  <link href="<%= url("/stylesheets/app.css") %>" rel="stylesheet" type="text/css" />
</head>

<div class="form">
<form action="/peeps" method="post">
  <input type="text" name="message" />
   <input type="submit" value="Post" />
</form>
</div>

