
<form action="/peeps" method="post">
  <label for="message">
  	Your Message:
  	<input type="text" name="message" placeholder="MESSAGE" />
	</label>
		<input type="submit" value="Share" />
</form>

