<!DOCTYPE html>
<html>
  <head>
    <style>
    h1 {
      color: darkTurquoise;
      font-family: verdana;
      font-size: 300%;
    }

    h2 {
      color: black;
      font-family: verdana;
      font-size: 150%;
    }

    form  {
      color: steelBlue;
      font-family: courier;
      font-size: 160%;
    }
    </style>
  </head>

  <body>
    <h1 style="text-align:center;"> What's in your mind? </h1>
    <h2 style="text-align:center;"> Share it with the world </h2>

    <form style="text-align:center;" action="/peeps" method="post">
      <input type="text" name="message" />
      <input type="submit" value="Peep It!" />
    </form>
  </body>
</html>


