<form action="/peeps" method="post">
  <input type="text" name="message" />
  <input type="submit" value="Submit" />
</form>

<form method="get" action="/">
    <button type="submit">Return to Homepage</button>
</form>