<form action="/peeps" method="post">
  <input type="text" name="message" placeholder="What's happening?"/><br><br>
  <input id="date" name="date"><br><br>
  <script type="text/javascript">
    document.getElementById('date').value = Date();
  </script>
  <input type="submit" value="Chit!" />
</form>