<form action='/peeps' method='POST'>
  <input type='text' name='name' placeholder='name' />
  <input type='text' name='message' placeholder='message' />
  <input type='date' name='date' />
  <input type='submit' value='Submit' />
</form>