<h1> Tell Chitter how you feel today </h1>

<form method="post" action="/peeps/new">
  <input type="text" name="message" placeholder="MESSAGE">
  <input type="text" name="date" placeholder="Date">
  <input type="submit" value="Peep">
  </form>
