<html>
<head></head>
<body>
  <header>
    <form action='/'>
      <input type='submit' value='Go Back'>
    </form>
  </header>
  <form action='/list' method='post'>
    <input type='text' name='message' minlength='1' maxlength='60' placeholder='Cheep message to post'>
    <input type='submit' value='Post'>
  </form>
</body>
<footer></footer>
</html>
