<h1> Welcome to Chitter </h1>


<br><br>
<form action="/add" method="post">
<p> Add your text: </p>
<textarea name="message" rows="1" cols="30">

</textarea> 
<br><br>
<input type="submit" value="Submit" />

