<html>

<h1> Chitter </h1>

  <form action = '/chitter' method = post>
    <label for="peep_text"> What wouldlyou like to say?</label><br>
    <input type="text" name="peep_text" placeholder="Peep......" >
    <input type="submit" value="Peep!">
  </form>


</html>