<h1>Post a peep!</h1>
<body>
  <p>Post a peep for all your followers to see!</p>
  <form action="/add_peep" method="post">
    <label for="peep">Enter peep:</label>
  <input type="text" id="peep" name="peep"><br><br>
  <input type="submit" value="submit">
  </form>
  </body>
