<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Chitter!</title>
  </head>
  <body>
	  
	 <!-- Navigation Bar Start --> 
 	 <nav class="navbar navbar-dark bg-light">
	    <div class="container-fluid">
	      <a class="navbar-brand text-success" href="#">
			  <img src="https://raw.githubusercontent.com/michael-zwickler/chitter-challenge-apprenticeships/main/views/images/chitter_logo.png" alt="logo" height="24" class="d-inline-block align-text-top">
			  CHITTER!
		  </a>
	      <form class="d-flex">
	        <input class="form-control me-2" type="search" placeholder="Filter" aria-label="Filter">
	        <button class="btn btn-outline-success" type="submit">Apply</button>
	      </form>
	    </div>
	  </nav>
 	 <!-- Navigation Bar Finish --> 
	  
  	 
     <div class="list-group">
       <!-- Input Starts --> 
	      <div class="d-flex col-12 justify-content-between">
		      <form class="d-flex col-12 gap-2 mt-2 mb-2 ms-2">
				<div class="d-flex col-10">
				  <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="What are you doing?" rows="2"></textarea>  
				</div>
				<div class="d-flex col-2 me-2">
					<button class="btn btn-outline-success" type="submit">
						<img src="https://raw.githubusercontent.com/michael-zwickler/chitter-challenge-apprenticeships/main/views/images/chitter_logo.png" alt="Chitter" height="18" class="flex-shrink-0">
					</button>
		        </div>
		      </form>
	      </div>
      <!-- Input End --> 
      <!-- Posts Starts --> 
      <% @peeps.each do |peep| %>
	    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
	      <img src="https://raw.githubusercontent.com/michael-zwickler/chitter-challenge-apprenticeships/main/views/images/chitter_logo.png" alt="logo" height="18" class="flex-shrink-0">
	      <div class="d-flex gap-2 w-100 justify-content-between">
	        <div>
	          <p class="mb-0 opacity-75"> <%= peep.message %> </p>
	        </div>
	        <small class="opacity-50 text-nowrap"> <%= peep.time %> </small>
	      </div>
	    </a>
      <% end %>
      <!-- Posts Finish --> 
	  </div>
   	 
	  

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>
