<h1>Chitter your Chatter</h1>
<form action='/messageboard'>
  <label for="name">Chatter:</label>
  <input type="text" name="message"><br><br>
  <label for="name">Peepwords:</label>
  <input type="text" name="keywords"><br><br>
  <button type="submit">Send Peep</button>
</form>
