<form action="/new-peep" method="post">
  <label for="message">Message:</label>
  <input type="text" name="message" placeholder="What's on your mind?" required>
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="Your username" required>
  <input value="Submit" type="submit">
</form>