<div class="centered-content">
  <form action="/new-peep" method="post">
    <h2 for="message" class="create-peep-header">Message:</h2>
    <input type="text" name="message" id="message" placeholder="What's on your mind?" maxlength="60"required>
    <h2 for="username" class="create-peep-header">Username:</h2>
    <input type="text" name="username" id="username" placeholder="Your username" maxlength="60" required><br><br>
    <input value="Submit" type="submit" class="button" id="create-peep-submit">
  </form>
</div>