<link rel="stylesheet" type="text/css" href="/style.css"/>
<body>
  <div class="centercontent">
    <h2> Filter Peeps: </h2>
    <form action="/filter" method="POST">
      <label for="keyword">Enter keyword: </label>
      <input type="text" name="keyword">
      <input type="submit" value="Submit"/>
    </form>
  </div>
</body>
