<h1>Filter messages</h1>

<form class="row" action="/message_page/filter" method="get">
  <input type="text" name="filter">
  <input type="submit" value="Filter Messages">
</form>

<form class="row" action="/message_page" method="get">
  <input type="submit" value="Go back">
</form>