<h1>Welcome to Chitter!</h1>
<h2>Filtered Peeps</h2>
<body>
  <ul style="list-style-type:none; padding-left: 0;">
    <% Peep.filtered_messages.each do |peep| %>
      <li><%= peep.message %></li>
      <ul style="list-style-type:none; font-style:italic; padding-left: 10;">
        <li><%= peep.timestamp %></li>
      </ul>
    <% end %>
      
  </ul>

  <h2>Post a new Peep</h2>
  <form action="/post" method="post">
    <input type="text" name="message" placeholder="Write peep"/>
    <input type="submit" value="Post" />
  </form>

  <h2>Filter peeps</h2>
  <form action="/filter" method="post">
    <input type="text" name="filter" placeholder="Enter keywords" />
    <input type="submit" value="Filter" />
  </form>
</body>