<ul>
  <% @peeps.each do |peep| %>
    <li>
       
        <%= peep.name %> <%= peep.message %> <%= peep.date %>
    </li>
  <% end %>
</ul>
<form action='/addpeep' method="POST">
<input type="text" name="Uname" placeholder="Your name">
<input type="text" name="message" placeholder="message">
<input type="submit" name="Submit">
</form>