<h1 style="color:#5cd65c;font-family:courier;font-size:350%;"><%= @header %></h1>

<form action="/messages" method="post">
    <input type="text" name="new_message", placeholder="New Peep", maxlength="60" />
    <input type="submit" value="Post" />
</form>

<%# <h2 style="font-family:courier;font-size:140%;">Please log in or create a new account to start peeping!</h1>
<div>
    <form>
        <input type="submit" value="LOGIN">
        <input type="submit" value="CREATE A NEW ACCOUNT">
    </form>
</div> %>