<h1>Chitter</h1>

<ul>
  <% @posts.each do |post| %>
    <li><%= post.message %> <br><br>
      <%= post.date %></li>
      <br><br>
  <% end %>
</ul>

<style>
  body {
    background-color: #f0dc99;
    color: #3d6542;
  }
</style>