
<div class="title">

<h1 style="text-align:center"> Welcome to peep!</h1>
</div>

<form style="text-align:center">
    <button type="submit" class="btn btn-primary btn-lg btn-block" formaction="http://localhost:9292/messages">view peeps!</button>
  </form>


