<form method="post" action="/new">
  <input type="text" name="message">
  <input type="submit" value="Post">
</form>

<%= flash[:empty] %>

<form method="get" action="/search">
  <input type="submit" value="Search">
</form>

<% @peeps.each do | peep | %>
  <section id="<%= peep.id %>">
    <p class="peep"><%= peep.message %></p>
    <p class="date"><%= Peep.format_date(peep.date) %></p>
  </section>
<% end %>