<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
   integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>

<div class="container-fluid">
  <h1 class="title">This is Chitter </h1>

  <div class="row top-buffer">
    <div class="column mx-auto" style="width:50%">
      <form  class="inline" action="/enter" method="get">
        <input type="submit" class="btn btn-primary top-buffer btn-sm align-middle"
        value="Submit a New Cheep" style="height:30px">
      </form>    </div>
    <div class="column mx-auto" style="width:50%"">
      <form  class="inline" action="/search" method="post">
        <input type="text" name="keyword" placeholder="Search">
        <input type="submit" class="btn btn-primary top-buffer btn-sm align-middle"
        value="Search by keyword" style="height:30px">
      </form>
      </div>
  </div>

<% @peep.each do | x| %>
  <div class="buffer"></div>

  <div class="card mx-auto" style= "width: 80%">
    <div class="card-body">
      <p class="text"><%= x[2] %> </p></br>
    <p class="text"> <%= x[1] %> </p>


</div>
</div>
<% end %>
</body>
