
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>
<body>
<h1> Welcome to Chitter! </h1>
<h2> Select the button below to view all peeps!</h2>
<form action="/all" method="get">
<label Select the button below to view all peeps!>
  <input type="submit" value="show all"/>
</form>

<form action="/all" method="post">
  <h2> Add another peep!</h2>
  <input type="text" name="message" placeholder="add peep" />
  <input type ="submit" value="submit"/>
  </form>


<form action='/all' method="get">
  <h2> Date message was posted </h2>
  <input type="submit" value="Check!"/>
  </form>

</body>
</html>
