<header style = "background-color: #00B9ED"</header>

<h1 style="color: white; font-family: Monospace, monaco; text-align: center;">Welcome to Chitter</h1>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>

<body style="background-color: #F0FFFF"></body>
