<ul>
  <% @peeps.each do |peep| %>
    <li> <%= peep.date %>: <%= peep.message %> </li>
  <% end %>
</ul>

<form action='/peeps' method='get'>
  <input type='text' name='keyword'>
  <input type='submit' value='Filter Results'>
</form>
