<link rel="stylesheet" type="text/css" href="my.css"/>
<h1>Chitter</h1>

<ul>
  <% @peeps.each do |peep| %>
    <li>
      <div><%= peep.message %> <br></br>added on <%= peep.posttime %></div>
      <br></br>
    </li>
  <% end %>
</ul>
