Chitter - Your peeps
<form action='/send-peep' method='post'>
  <input type='text' name='new_peep' placeholder='What u peepin?'>
  <input type='submit' value='Send Peep'>
</form>
<p><% @peeps.each do |peep| %>
  <%= peep %>
  <%end%></p>