
<h1> Welcome to Chitter </h1>
<br>
<h3> Please select:</h3>


<form action="/view" method="get">
<input type="submit" value="View"/>
</form>

<form action="/add" method="get">
<input type="submit" value="Add"/>