<form action='/new-peep' method='post'>
  <input type='text' placeholder='Enter username' name='peep_user'>
  <input type='text' placeholder='Enter peep' name='peep_message'>
  <input type='submit' name='Submit'>
</form>

<% if $peep.peeps.empty? %>
There's nothing here yet... Why not post a peep?
<% else %>
Your Peep timeline:
<% $peep.peeps.each { |peep| %>
User: <%= peep[:user] %>
Message: <%= peep[:message]%>
<% } %>
<% end %>