<head>
<style>
body {
  background-color: lightblue;
  margin: 40px 40px;
}

div {
  margin: 20px 60px;
  padding: 50px 300px;
}

h1 {
  font-size: 40px;
  text-align: center;
}
 h3 {
   padding: 10px 10px;
   font-size: 26px;
   color: navy;
   text-align: center;
  border: 1px solid black;
  background-color: white;
 }
ul {
  list-style: none;
}
</style>
</head>
<body>
<h1>Recent Peeps</h1>
<form>
<ul>
<div>
<li>
  <% @posts.each do |peep| %>
  <h3> date: <%= peep.date %> <br><br>
   name: <%= peep.author %> <br><br>
   message: <%= peep.message %> </h3>
    <br>
  <% end %>
  </li>
</div>
</form>
</body>