<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <table>
      <% @peeps.each do |peep| %>
      <tr>
        <td>
          <%= peep.message %>
        </td>
      </tr>
      <% end %>
    </table>
  </body>
</html>