<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
	<style type="text/css">
		body {
			width: 90vw; 
			height: 100vh;
			text-align: center;
			background: radial-gradient(ellipse at top, #e66465, transparent),
            radial-gradient(ellipse at bottom, #4d9f0c, transparent);
		}
		ul {
			list-style-type: none;
			margin: 10vh auto;
		}
		li {
			text-align: left;
			width: 50vw;
			margin: 10px auto;
			padding: 10px 0;
			border-top: 1px solid white; 
		}
		h1, h2, h3 {
			color: white;
		}
		.container {
			padding: 10px;
			margin: 20vh auto;
			text-align: left;
			width: 30vw;
		}

	</style>
</head>
<body>
	<h1>Chitter</h1>
	<% if @peeps.length != 0 %>
	<ul>
		<% for @peep in @peeps %>
			<li>
				<p><%= @peep.message %></p>
				<p>Date posted: <%= @peep.date %></p>
			</li>
		<% end %>
	</ul>
	<% else %>
	  <div class="container">
			<h2>No posts found</h2>
			<h3>Go to&nbsp;&nbsp;&nbsp;'/posts/new'&nbsp;&nbsp;&nbsp;to make a new peep</h3>
			<h3>Go to&nbsp;&nbsp;&nbsp;'/posts/search'&nbsp;&nbsp;&nbsp;to find posts</h3>
	  </div>
	<% end %>
</body>
</html>
