<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/CSS/index.css">
  </head>

  <body>
    <nav class="topnav">
      <h1 class="logo">
        <span>CHITTER</span>
      </h1>
    </nav>

    <div class="peepContainer">
    <h2>Posts: </h2>
      <ul>
        <% @peeps.each do |peep| %>
          <li class="peepMessage">
          <%= peep.message %>
          <br>
          <br>
          <p class="createdOn">Created on <%= peep.date %></p>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="createPeepCon">
      <h3><a class="createPeep" href="/new_peep">New Peep</a></h3>
    </div>
  </body>
</html>