<h1> Chitter </h1>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.message %></li>
    <p> created on <%= peep.date %> </p>
    <% end %>
</ul>

<form action='/post' method='post'>
  <input type="text" name="message" placeholder='Peep - max 60 chars' maxlength='60' required/>
  <input type="submit" value="Post" />
</form>
