<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Chitter!</title>
  </head>
  <body>
    <h1 style="text-align:center">Welcome to Chitter!</h1> <br>

    <h4 style="text-align:center"><%= @reverse_list %></h4>
    <%= @list %>

    <h3 style="text-align:center">Please enter a keyword to filter the peeps! <a href='/clear_filter'>(clear the filter?)</a></h3>

    <form style="text-align:center" action="/filter_keyword" method="post">
      <input type="text" name="keyword"><br><br>
      <input type="submit" value="Submit">
    </form>

    <div id='input_message'>
      <h2 style="text-align:center">You can send a peep below!</h1>
      <form style="text-align:center" action="/send_message" method=post>
        <input type="text" name="message" id='message'><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>