<form action='/new-peep' method='post'>
  <input type='text' placeholder='Enter username' name='peep_user'>
  <input type='text' placeholder='Enter peep' name='peep_message'>
  <input type='submit' name='Send'>
</form>

<form action='/search' method='post'>
  <input type='text' placeholder='Search by keyword' name='search_keyword'>
  <input type='submit' name='Search'>
</form>

<% if @peeps.empty? %>
There's nothing here yet... Why not post a peep?
<% else %>
Your Peep timeline:
<% @peeps.each { |peep| %>
User: <%= peep.username %>
Message: <%= peep.message %>
Posted on: <%= peep.datetime %>
<% } %>
<% end %>