<h1>Welcome to Chitter:</h1>
<form action="/peeps" method="get">
  <input type="submit" value="View all Peeps"/>
</form>

<form action="/drafts" method='get'>
  <input type="submit" value="Post a Peep">
</form>
