<h1> Chitter </h1>

<form method="get" action="/peeps">
    <button type="submit">View Peeps</button>
</form>

<form method="get" action="/peeps/new">
    <button type="submit">Add Peep</button>
</form>