<h1>Welcome to Chitter!</h1>

<form action="/peeps" method="get">
  <input type="submit" value="View all peeps" />
</form>

<form action="/peeps/new" method="get">
  <input type="submit" value="Add a new peep" />
</form>
