<html>
<h1 style="color: blue"> Welcome to Chitter!</h1>
<h2>Sign in to start adding peeps!</h2>
<form action="/messages" method="post">
  <label for="user_name">
  Maker Name
  <input type="text" name="user_name">
  <input type="submit" name="submit"  value="Add Peep">
  </label>
</html>