<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
</head>
<body>
  <header class="header">
    <h1 class="title">
      Anonymous Peeps
    </h1>
  </header>
  <main class="peeps">
    <form action="/add" method="post">
      <input class="input_peep_text" name="new_peep" type="text" minlength="1" maxlength="60" placeholder="What's new?" required />
      <input class="btn_add_peep" type="submit" value="post" />
    </form>
    <% @peeps.each do |peep| %>
      <article class="peep" id="peep-<%= peep.id %>">
        <span class="date">
          <%= peep.date %>
        </span>
        <p class="msg"> 
          <%= peep.msg %>
        </p>
      </article>
    <% end %>
  </main>
</body>
</html>