<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="<%= url("/styles.css") %>" rel="stylesheet" type="text/css" />
    <title>Chitter</title>
</head>

<body class="container">
    <h1>Chitter Chatter 💬</h1>
    <section>
        <form action='/peep/matches' method='post' class="row">
            <input type="text" name="search_field" placeholder="Keyword Search" required>
            <input type="submit" name="search" class="search_btn" value="&#9740;" />
        </form>
    </section>
    <section>
        <form action='/peep' method='post' class="form">
            <textarea type="textbox" placeholder="What's happening?" name="message" rows="4" cols="50" required></textarea>
            <input type="submit" value="Post" />
        </form>
    </section>
    <section>
        <h3>Peeps</h3>
        <ul>
            <% @peeps.map do |peep| %>
                <li class="peep" id="peep-<%= peep.id %>">
                    <div class="col">
                        <p><%= peep.message %><p>
                        <span><%= peep.time %><span>
                    </div>
                </li>
            <% end %>
        </ul>
    </section>
</body>

</html>