<link rel="stylesheet" type="text/css" href="/style.css"/>
<body>
  <h1> Peeps: </h1>
    <form action="/peep">
      <input type="submit" value="New Peep"/>
    </form>
    <form action="/filter">
      <input type="submit" value="Filter"/>
    </form>
    <% if @peeps.empty? %>
      <h4> No peeps </h4>
    <% else %>
      <div class="allcontent">
        <% @peeps.reverse.each do |peep|%>
          <p><%= peep.message%></p>
          <p class="date"><%= peep.date%></p>
          <br>
        <% end %>
      </div>
    <% end %>
</body>
