<h1> Welcome to Chitter </h2>
<h2> Click on the button below to view all peeps!</h2>

<form action="/" method="get">
<label Click on the button below to view all peeps!>
  <input type="submit" value="show all"
</form>
