<head>
<style>
body {
  background-color: lightblue;
}

div {
  padding: 20px 300px;
  margin: 10px 60px;
  
}

h1 {
  margin-top: 20px;
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}
 h3 {
   padding: 30px 10px;
   font-size: 26px;
   color: navy;
   text-align: center;
    border: 1px dotted white;
    background-color: white;
 }
ul {
  list-style: none;
}
</style>
</head>
<body>
<h1>Recent Peeps</h1>
<form>
<ul>
<div>
<li>
  <% @posts.reverse_each do |peep| %>
  <h3> date: <%= peep.date %><br><br>
   name: <%= peep.author %> <br><br>
   message: <%= peep.message %> </h3>
    <br>
  <% end %>
  </li>
</div>
</form>
</body>