<ul>
<% @peeps.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>

<form action="/" method="post">
  <input type="text" name="message" maxlength="<%= MAX_PEEP_LENGTH %>">
  <input type="submit" value="Submit">
</form>
