<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<h1>Welcome to Chitter!</h1>
<h2>Latest Peeps</h2>
<body>
  <ul class="peep">
    <% @messages.each do |peep| %>
      <li><%= peep.message %></li>
      <ul class="timestamp">
        <li><%= peep.timestamp %></li>
      </ul>
    <% end %>
      
  </ul>

  <h2>Post a new Peep</h2>
  <form action="/post" method="post">
    <input type="text" name="message" placeholder="Write peep"/>
    <input type="submit" value="Post" />
  </form>

  <h2>Filter peeps</h2>
  <form action="/filter" method="post">
    <input type="text" name="filter" placeholder="Enter keywords" />
    <input type="submit" value="Filter" />
  </form>
</body>
