<form action="/messages" method="get" >
  <label for="message">Message</label>
  <input id="message" name="message" type="text" />
  <input name="submit" type="submit" value="Submit" data-disable-with="Search" />
</form>