<h1>Welcome to Chitter!</h1>
<h2>Latest Peeps</h2>
<body>
  <ul>
    <% @messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

  <h2>Post a new Peep</h2>
  <form action="/" method="post">
    <input type="text" name="message" />
    <input type="submit" value="Post" />
  </form>
</body>
