<header style = "background-color: #00B9ED"</header>

<h1 style="color: white; font-family: Monospace, monaco; text-align: center;">Welcome to Chitter</h1>

<body style="background-color: #F0FFFF"></body>
