<section class="top-header">
<div class="header-items">
<div>
<h1>Chitter</h1>
</div>

<div class="search-box">
<form action='/search' method='post'>
<input class='input' type='text' name='search' placeholder='search peeps' />
<input class="chitter-button" type='submit' value='Search'/>
</form>
</div>
</div>
</section>

<div class="main-content">
<form action='/add' method='post'>
<input class='input' type='text' name='peep' placeholder='peep your thoughts!' />
<input class="chitter-button" type='submit' value='Peep!'/>
</form>

<ul class="peep-container no-bullets">
  <% @peeps.reverse.each do |peep| %>
    <li class="peep"><span class="peep-text"><%= peep.peep %></span><span class="date-text">Posted on <%= peep.date %>.</span></li>
  <% end %>
</ul>
</div>