<!-- So you can see all messages in the database on the browser -->

<ul>
  <% @peeps.each do |peep| %>
    <li style="text-decoration: none">
      <%= peep %>
    </li>
  <% end %>
</ul>

<button type="button">Back to search</button>