<form action="/peeps" method="post">
  <input type="text" name="message" />
  <input type="submit" value="Post" />
</form>

<ul> 
  <% @peeps.each do |peep|%>
    <li> <%= peep %> </li>
  <% end %>
</ul>