<form action='/new' method='post'>
  <input type='text' name='message' placeholder='message'>
  <input type='submit' value='Submit'>
</form>

<form action='/' method='get'>
  <select name='order' id='order'>
    <option value='ASC'>Oldest First</option>
    <option value='DESC'>Newest First</option>
  </select>
  <input type='submit' value='Sort'>
</form>

<form action='/' method='get'>
  <input type='text' name='keyword' placeholder='keyword'>
  <input type='submit' value='Search'>
</form>

<% @peeps.each do |peep|%>
  <div class='peep'>
    <h1> <%= peep.message %> </h1>
    <h3> <%= Time.parse(peep.created_at).strftime('%d/%m/%Y %H:%M') %> </h3>
  </div>
<% end %>
