<h1> WELCOME TO CHITTER </h1>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>

<form action="/" method="post">
  <input type="text" name="message">
  <input type="submit" name="Comment">
</form>