<html>
  <head>
    <title>Chitter</title>
    <style>
      body {
        background-color:rgb(69, 182, 192);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
      }
      table.main {
        width:30%; 
        margin-left: auto; 
        margin-right: auto;
        border-spacing: 30px;
      }
      td.peeps {
        background-color: white;
        border: 1px solid black;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 15px;
      }
    </style>
  </head>
  <body>
    <h1>Chitter</h1>
    <table class="main">
      <% @peeps.each do |peep| %>
      <tr>
        <td class="peeps">
          <%= peep.message %>
        </td>
      </tr>
      <% end %>
    </table>
  </body>
</html>