<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Chitter!</title>
  </head>
  <body>
    <h1 style="text-align:center">Welcome to Chitter!</h1> <br>

    <h2 style="text-align:center">Messages so far:</h2>

    <div id="chitter_message">This is a Chitter message</div>
  </body>
</html>