<html align = center >
  <h1>Chitter</h1>
    <h2> What's happening? </h2>
      <form action = "/add-peep" method = "post">
        <label > Message/Peep </label><br>
        <input type = "text" id = "message" name = "message">
        <input type="submit" value="Peep"> 
      </form>
</html>