<html>
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
    <link rel="stylesheet" href="<%='app.css'%>">
  </head>
  <h1>CHITTER</h1>
  <a href="/messages">Home</a>
  <%= yield %>
</html>