<html>
<head></head>
<body>
  <header>
    <form action='/add'>
      <input type='submit' value='Add'>
    </form>
  </header>
  <ul>
    <% @cheeps.each do |cheep| %>
      <li class='cheep'><%= cheep.date_post + ":  " + cheep.message %></li>
    <% end %>
  </ul>
</body>
<footer>
  <div>This is a footer text for styling / information</div>
</footer>
</html>
