<html>
<head></head>
<body>
  <header>
    <table name='header' style="width: 50%; text-align: center">
      <tr>
        <td>
          <form action='/add'>
            <input type='submit' value='Add'>
          </form>
        </td>
        <td align='right'>
          <form action='/filter' method='post'>
            <input type='text' name='filter' placeholder='<%= @filter %>'>
            <input type='submit' value='Apply Filter'>
          </form>
        </td>
      </tr>
    </table>
  </header>
  <ul style="margin-left: 30px">
    <% @cheeps.each do |cheep| %>
      <li class='cheep' value='<%=cheep.id %>'><%= cheep.date_post + ":  " + cheep.message %>
      </li>
    <% end %>
  </ul>
</body>
<footer>
  <div>This is a footer text for styling / information</div>
</footer>
</html>
