<h2>Log In</h2>

<form action="/session" method="POST">
  <label for="name">Username:</label>
  <input type="text" name="username"><br><br>
  <label for="name">Password:</label>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Login">
</form>
<br>
<a href="/users/new">Sign up here</a>
