<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Chitter</title>
  <link href="<%= src='/styles.css' %>" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Pacifico&family=Satisfy&family=Zen+Kurenaido&display=swap"
    rel="stylesheet">
</head>

<body class="container">

<h1>Welcome to Chitter!</h1>

<div class="row">
  <% @result.each do |message_entry| %> 
    <li style="border: dashed silver 3px">
      Message: <%= message_entry.message %> <br>
      > Date: <%= message_entry.timestamp %> 
    </li>
  <%end%>
  <br>
  <br>
  <form action="/add" method="get">
    <input type="submit" value="Add Entry">
  </form>

  <form action="/filter" method="get">
    <input type="submit" value="Filter">
  </form>

  <form action="/filter_reset" method="post">
    <input type="submit" value="Reset Filter">
  </form>
</div>

</body>
<footer>
  By Khushnood Asif
</footer>
