<html
  <head>
    <style>
      table,{
          border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the Chitter Channel</h1>
    <table>
        <tr>
          <th>Peeper:</th>
          <td>cumberlands4eva</td>
        </tr>
        <tr>
          <th>Date:</th>
          <td>11/02/2022</td>
        </tr>
        <tr>
          <th></th>
          <td>OMG loving these bangers!</td>
        </tr>
        <tr>
          <th></th>
          <td>#sausages</td>
        </tr>
      </table><br>
    <% if @message %>
      <table>
        <tr>
          <th>Peeper:</th>
          <td><%= @username%></td>
        </tr>
        <tr>
          <th>Date:</th>
          <td><%= @date %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= @message %></td>
        </tr>
        <tr>
          <th></th>
          <td>#<%= @Keywords %></td>
        </tr>
      </table><br>
      <% end %>

    <form action="/chatter">
      <button type="submit">Add a Peep</button>
    </form>


  </body>

</html>