<html
  <head>
    <style>
      table,{
          border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the Chitter Channel</h1>
      <table>
        <tr>
          <th>Peeper:</th>
          <td>wallsrgreat</td>
        </tr>
        <tr>
          <th>Date:</th>
          <td>11.02.2021</td>
        </tr>
        <tr>
          <th></th>
          <td>OMG loving these bangers!</td>
        </tr>
        <tr>
          <th></th>
          <td>#love, #sausages</td>
        </tr>
      </table><br>

    <form action="/chatter">
      <button type="submit">'Add a Peep'</button>
    </form>

  </body>

</html>