<form action='messages/peep' method='post'>
  <input type='text' name='new_peep' placeholder='New Peep'>
  <input type='submit' value='Peep!'>
</form>
<ul>
  <% @all_peeps.each do |peep| %>
    <li> <%= peep.peep %> - <%= peep.time_added%> </li>
  <% end %>
</ul>