<ul>
    <% @messages.each do |peep| %>
        <li><%= peep %></li>
    <% end %>
</ul>

<form action="messages" method="post">
    <input type="text" name="new_message", placeholder="New Peep" />
    <input type="submit" value="Post" />
</form>
