Welcome
<% @result.each do |message_entry| %> 
  <li>
     Message: <%= message_entry.message %> Date: <%= message_entry.timestamp %> 
  </li>
<%end%>
<form action="/filter" method="get">
  <input type="submit" value="Filter">
</form>

