<html
  <head>
    <style>
      table,{
          border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the Chitter Channel</h1>
        <table>
        <% @peep.each do |peep| %>
        <td height ="30">
          <tr><th>Peep:</th><td><%= peep.message %></td></tr>
          <tr><th>Date posted:</th><td><%= peep.date_added %></td></tr>
          <tr><th>Peepwords:</th><td><%= peep.keywords %></td></tr>
          <tr><th>Peeper:</th><td><%= peep.username %></td></tr>
        
        </td>
        <% end %>
    </table>
    
    <form action="/chatter">
      <button type="submit">Add a Peep</button>
    </form>


  </body>

</html>