<html>
<h1>Welcome to Chitter <%= @user_name %></h1>
<ul>
  <% @messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<form action="/new" method="post">
<input type="submit" value="Start a new Peep!">
</form>

