<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Raleway:wght@100&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<style>
    html {
        background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    }

    h1 {
        font-family: Barlow;
        font-size: 100px;
        color: #1A132F;
        text-align: center;
        margin: 5;
        padding: 5;
    }

    .navbar, .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .navbar {
        margin: 30;
    }

    .peep {
        background: rgb(255, 255, 255, 0.7);
        margin: 20 auto;
        border: 1.5px solid rgb(97, 164, 188, 0.5);
        border-radius: 5px; 
        width: 50%;
        display: block;
    }

    h2 {
        font-family: Ubuntu;
        font-size: 30px;
        text-align: center;
        font-weight:800;
    }

    h3 {
        font-family: Ubuntu;
        font-size: 20px;
        text-align: center;
    }

    .new-peep{
        color: white;
        background-color: #1A132F;
        border: none;
        padding: 20;
        font-family: Ubuntu;
        font-size: 20px;
        border-radius: 10px; 
        margin: auto;
        width: 10%;
        display: block;
    }

    .new-peep:hover {
        color: white;
        background-color: rgb(26, 19, 47, 0.8);
        cursor: pointer;
    }

    .my-peeps-container {
        padding: 10;
    }
</style>

<h1>Chitter</h1>

<div class="navbar">
    <form action='/my_peeps/new_peep'>
        <input type="submit" class="new-peep" value="New Peep">
    </form>
</div>

<div class="my-peeps-container">
    <h2>My Peeps</h2>

    <div class="container">
        <% @peeps.each do |peep| %>
            <div class="peep">
                <h3 class="peep-message"><%= peep.message %></h3>
            </div>
        <% end %>
    </div>
</div>

