  <head>
  <form action="/new" method="post">
    <title>PEEP BOX</title>
  </head>
  <body>
  <textarea rows="5" cols="30">Enter your message here:</textarea>
    <input type="submit" name="submit"  value="Send Peep">
  </body>
</html>
