<h1>Chitter</h1>
<h2>Post a new peep:</h2>

<form method="post" action="/peep">
  <input type="text" name="message" placeholder="Write your peep here" />
  <input type="submit" value="Submit" />
</form>