<form action="/peeps" method="post">
  <input type="text" name="message" placeholder="Enter peep message" />
  <input type="text" name="username" placeholder="Username" />
  <input type="submit" value="Submit" />
</form>