<form action="/new" method="post">
  <input type="text" name="message" placeholder="Message"/>
  <input type="date" name="messagedate" placeholder="Date" />
  <input type="submit" value="Submit" />
</form>