  <html>
  <form action="/" method="post">
    <title>PEEP BOX</title>
    <input type="text" name="message" placeholder="Type your peep!!">
    <input type="submit" value="Send Peep">
  </form>
</html>
