
<form action="/peeps" method="post">
  Type in your peep:<br>
  <input type="text" name="peep" /><br>
  Type in your username:<br>
  <input type="text" name="username" /><br>
  <input type="submit" value="Submit" />
</form>