<!DOCTYPE html>

<html>
  <body>
    <div class="container">
      <form action="/" method="POST">
        <div class="newContainer">
          <label for="message">Message: </label>
          <input type="text" name="message" placeholder="Enter Peep...">
        <div>
        <input type="submit" class="submitButton" value="Post">
      </form>
    </div>
  </body>
</html>