<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/CSS/new_peep.css">
  </head>

  <body>
    <div class="container">
      <form action="/" method="POST">
        <label class="messageLabel" for="message">Message: </label>
        <div class="newContainer">
          <input type="text" name="message" placeholder="Enter Peep...">
        <div>
        <input type="submit" class="submitButton" value="Post">
      </form>
    </div>
  </body>
</html>