<!DOCTYPE html>
<html>
  <head>
    <div>
      <h2><u> Post a new peep! </u></h2>
    </div>
  </head>

  <body>
    <form action='/peeps' method='post'>
      <label for='message'>New peep:</label>
      <input type='text' name='message' placeholder='Type your message here'>
      <input type='submit' value='Post!'>
    </form>
    <br>
    <form action=/peeps>
      <input type='submit' value='Back'>
    </form>
  </body>
</html>