<head>
<style>
body {
  background-color: lightblue;
  margin: 20px 20px;
  text-align: center;
}
.tweet {
  display: inline-block;
  background-color: white;
  margin: 20px 20px;
  padding: 60px 60px;
}
form {
  margin: 0 auto;
  display: ;
}
</style>
</head>
<body>
<h1>Chitter App</h1>
<form action="/posts" method="post">
<div class="tweet">
<input type="text" id="author" name="author" placeholder="Your name"><br><br>
<textarea id="message" name="message" rows="5" cols="25" placeholder="Your message"></textarea><br><br>
 <input type="submit" value="Submit" />
 </div>
</form>
</body>