<h1> Write a new peep. Tell everyone about how what you think is invariably right! </h1>

<form action="/" method="post">
  <input type="text" name="peep">
  <input type="submit" value="Post dat Peep, baby!">
</form>