<head>
  <title>Chitter</title>
  <style>
    body {
      background-color: lightskyblue;
      text-align: center;
    }
    ul {
      list-style-position: inside;
    }
  </style>
</head>

<h1> Welcome to Chitter! </h1>

<body>
  <form action='/newsfeed' method='post'>
    <input type='text' name='message' placeholder='Please enter a peep'/>
    <input type='submit' name='Submit'/>
  </form>

  <form action='/newsfeed/filter'>
    <button type='submit'>Filter</button>
  </form>

  <br>
  <ul>
    <% @peeps.reverse.each do |peep| %>
      <li><%= peep.message %><br>Posted on: <%= peep.date %></li><br>
    <% end %>
  </ul>
</body>
