<ol>
  <% @peeps.each do |peep| %>
    <li>
      <p>
        <%= peep.message %>
      </p>
    </li>
  <% end %>
</ol>
<form action="/create-peep" method='post'>
  <input type="text" name="message">
  <input type="submit" value="Submit">
</form>