<link rel="stylesheet" type="text/css" href="/style.css"/>
<body>
  <div class="centercontent">
    <h2> New Peep: </h2>
    <form action="/" method="POST">
      <label for="message">Peep: </label>
      <input type="text" name="message">
      <button type="submit" value="Submit"> Submit </button>
    </form>
  </div>
</body>
