<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chitter - Post</title>
</head>
<body>
  <h1><a href="/" style="text-decoration: none">Chitter</a></h1>
  <h3>Meaning in 160 chars. Off you go then!</h3>
  <hr>
  <form action="/peep" method="post">
    <label for="message">What illumination shall you proffer? Be it light or darkness?</label>
    <textarea id="message" name="message" placeholder="Speak." cols="50" rows="6" maxlength="160"></textarea>
    <input type="submit" value="Submit" \>
  </form>
</body>
</html>
