<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Peeps</title>
  </head>
  <body>
    <h1>Chitter - where the world shouts loudly into the void </h1>
    <br>
    <br>
    <form class="" action="peeps/new" method="get">
      <input type="submit" class="btn btn-primary" name="Peep!" value="Have your say - Peep!">
    </form>
    <br>
    <form class="" action="peeps/search" method="post">
      <input type="text" class="form-label" name="keyword" placeholder="Keyword Search">
      <input type="submit" class="btn btn-secondary" name="search" value="search">
    </form>
    <br>
    <br>
    <div class="peeps-outer">
      <div class="peeps-inner">
        <% if
            @peeps.empty?
          %>
          <h3> No results match that search </h3>
        <% else
            @peeps.each do |peep|
          %>
          <div class="peep">
            <br>
            <hr>
            <h3><%= peep.username %> says...</h3>
            <br>
            <h2><%= peep.message %></h2>
            <br>
            Posted <%= peep.date %>
            <hr>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>



  </body>
</html>
