<link rel="stylesheet" type="text/css" href="/my.css"/>
<h1 style="margin-left: 40px;">Add some Chitter</h1>

<form style="margin-left: 40px;" action='/peeps' method='post'>
  <div><textarea  name="peep" rows="2" cols="37.5" required="required" placeholder="Peep away!" maxlength="60"></textarea>
  <br></br>
  <input type="submit" value="Add"/>
  </div>
</form>
