<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Peeps</title>
  </head>
  <body>
    <h1>Chitter - where the world shouts loudly into the void</h1>
    <br>
    <p>"just started my coding challenge!"</p>
    <br>
    <form class="" action="peeps/new" method="get">
      <input type="submit" name="Peep!" value="Peep!">
    </form>

  </body>
</html>
