<h1>Your peep has been posted!</h1>
<style>
  .button {
    background-color: #00BFFF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>
<body>
<p>Preview: <%= @message %></p>
<p>Click here to return to homepage</p>

<a href="/" class="button">Go to Chitter</a>
</body>
