<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Peeps</title>
  </head>
  <body>
    <h1>Chitter - where the world shouts loudly into the void </h1>
    <br>
    <% if @user %>
      <p><h3>Welcome, <%= @user.username %></h3>
        <form class=".form-inline" action="users/logout" method="post">
            <input type="submit" class="btn btn-secondary" name="logout" value="logout">
        </form>
    <% else %>
      <p><a href="/users/new">Register</a> | <a href="/users/login">Login</a></p>
    <% end %>
    <br>
    <form class="" action="peeps/new" method="get">
      <input class="btn btn-primary" type="submit" name="Peep!" value="Peep!">
    </form>
    <br>
    <form class="" action="peeps/search" method="post">
      <input type="text" name="keyword" placeholder="Keyword Search">
      <input type="submit" name="search" value="search">
    </form>
    <br>
    <br>
    <div class="peeps-outer">
      <div class="peeps-inner">
        <% if
            @peeps.empty?
          %>
          <h3> No results match that search </h3>
        <% else
            @peeps.each do |peep|
          %>
          <div class="peep">
            <br>
            <hr>
            <h3><%= peep.username %> says...</h3>
            <br>
            <h2><%= peep.message %></h2>
            <br>
            Posted <%= peep.date %>
            <hr>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>



  </body>
</html>
