<link rel="stylesheet" type="text/css" href="/style.css"/>
<body>
  <div class="centercontent">
    <h1> New Peep: </h1>
    <form action="/" method="POST">
      <label for="message">Peep: </label>
      <input type="text" name="message">
      <input type="submit" value="Submit"/>
    </form>
  </div>
</body>
