<style>
    body {background-color: #FEF5ED;}

    h1 {
        color: #79B4B7;
    }
</style>



<h1> Write a post! </h1>
<form action="/messages" method = 'POST'>
    <input type="text" id="name" name="name"><br>
    <input type="text" id="message" name="message"><br>
    <input type="submit" id="submit" name="submit"><br>
</form>