<link rel="stylesheet" type="text/css" href="/style.css"/>
<body>
  <h1> Results: </h1>
  <form action="/">
    <button type="submit" value="Back"> Back </button>
  </form>
  <% if @filtered_peeps.empty? %>
    <h4> No results </h4>
  <% else %>
    <div class="allcontent">
      <% @filtered_peeps.reverse.each do |peep|%>
        <p><%= peep.message%></p>
        <p class="date"><%= peep.date%></p>
        <br>
      <% end %>
    <% end %>
  </div>
</body>
