<% if @peeps.empty? %>
<p>No results found for '<%=@query%>'</p>
<% end %>

<% @peeps.each do | peep | %>
  <section id="<%= peep.id %>">
    <p class="peep"><%= peep.message %></p>
    <p class="date"><%= DateFormatter.format_date(peep.date) %></p>
  </section>
<% end %>