<link rel="stylesheet" style="text/css" href="/css/homepage.css">
<center>
  <h1> <img src = "https://pbs.twimg.com/profile_images/1244526549769961475/XDl3NWQG_400x400.jpg" alt = "Logo" width = "30" height = "30">
    Welcome to Chitter
    <img src = "https://pbs.twimg.com/profile_images/1244526549769961475/XDl3NWQG_400x400.jpg" alt = "Logo" width = "30" height = "30">
  </h1>
    <form action  = '/HomePage' >
    <input type = 'submit' name = 'back' value = 'Back' >
  </form>

  <h2> Newsfeed </h2>
    <ul class = "custom-list">
      <% @peeps.each do |cheep| %>
      <li>
        <%= cheep.message %> (<%= cheep.date %>)
      </li>
      <% end %>
    </ul>
</center>
