Sign in
<form action="/sign_in_conf" method="post">
  <input type="name" name="name" placeholder="your name here">
  <input type="password" name="password">
  <input type="submit" value="submit">
</form>
