<h2>Sign Up</h2>

<form action="/users" method="POST">
  <label for="name">Username:</label>
  <input type="text" name="username"><br><br>
  <label for="name">Password:</label>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Sign Up">
</form>
<br>
<a href="/login">Already have an account? Login here</a>
