<h1> CHITTER </h1>

<h2> Filtered Peeps </h2>
<ul>
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep"-<%= peep.id %>">
      <%= peep.date %> -
      <%= peep.message %>
    </li>
    
  <% end %>
  <form action="/peeps/sort" method="post">
    <input type="submit" value="Return">
  </form
</ul>