<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div>
  <a class="btn" href='/'><i class="fa fa-home"></i> Home</a>
  <a class="btn" href='/new'><i class="fa fa-pencil"></i> New Peep</a>
</div>

<h2> TIMELINE </h2>

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep[:message].to_s %></li>
    <li><%= peep[:date] %></li>
  <% end %>
</ul>
