<h1>Chitter View</h1>
<p>***********************</p>

<form action="/view" method="get">
<p> Filter for messages: </p>
<textarea name="filter" rows="1" cols="20"></textarea> 
<br><br>
<input type="submit" value="Submit" />
<p>***********************</p>
<br>
<br>
<ul>
  <% @peepsr.each do |result| %>
    <li>
      <p> <%=result.peep %> &nbsp;----&nbsp;  <%=result.time %>
       
      </p>
    </li>
  <% end %>
</ul>

<br>
<br>



