<h1>View All Peeps:</h1>
<ul> <% @all_peeps.each do |peep| %> 
  <li> <%= peep %> </li>
<% end %>
</ul>

<h2>Add your message!</h2>
<form action="/view_peeps/add" method= 'post'>
  <label for='message'>Type here:</label>
  <input type="text" name='message'/>
  <input type="submit" name="PEEP!"/>
</form>