.custom-list {
    list-style: none;
    padding-left: 0;
}
.custom-list li {
  position: relative;
  padding-left: 20px;
}
.custom-list li:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url("https://pbs.twimg.com/profile_images/1244526549769961475/XDl3NWQG_400x400.jpg");
    background-size: cover;
    left: 36%;
    top: 50%;
    transform: translateY(-50%);
}
