Welcome to Chitter!

Posts:
Joe - This is my first post!

<form action="/Chitter/add">
  <input type="text" name="name">
  <input type="text" name="peep">
  <input type="submit" value="Add a peep">
</form>
