Welcome to Chitter!

Posts:
<%= @name %> - <%= @peep %>

<form action="/Chitter/add" method="post">
  <input type="text" name="name">
  <input type="text" name="peep">
  <input type="submit" value="Add a peep">
</form>
