<ul>
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
      <a>
        <%= peep.message %>   <%= peep.created_at%>
      </a>
      </li>
  <% end %>
<form method='get' action='/chitter'>
  <input type="submit" value="Chronological Order">
</form>
<ul>