<form method="post" action="/tweets">
  <input type="number" name="user_id" placeholder=1 />
  <input type="text" name="message" placeholder="tweet" />
  <input type="submit" value="Submit" />
</form>