<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Merriweather' rel='stylesheet' type='text/css'>
	
</head>

<body>
  <main>
    <h1> Enter your message </h1>
    <form  class = 'cd-box' action='/save-peep' method='post'>
      <label for="message">Message:</label><br>
      <input type='text' name='message'><br>
      <input type='submit' value='Submit'>
    </form>
  </main>
</body>