<form action="/messageboard/<%= @message.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH" />
  <input type="text" name="Name" value="<%= @message.name %>" />
  <input type="text" name="Message" value="<%= @message.message %>" />
  <input type="submit" value="Submit" />
</form>