
This is the homepage for Chitter 

<ul>
  <% @peeps.each do |peep| %>
    <li>
        <%=  peep.message  %> 
         <%=  peep.time  %>
    </li>
  <% end %>
</ul>

<br>
<br> 
<form action = 'messageboard/add' method ='get' >
    <input type = 'submit' value = 'Add' > 
  </form>