<!DOCTYPE html>
<html>
  <head>
    <style>
    h1 {
      background-color: #6193B5;
      font-family: verdana;
      color: white;
      text-align: center;
      text-shadow: 1px 1px black;
      }
    body {
      background-color: #6193B5;
    }
    </style>
  </head>
  <body>
    <h1> Chitter Messageboard: Add a new message... </h1>
    <form action="/messageboard" method="post">
      <input type="text" name="Name" />
      <input type="text" name="Message" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>



