<h1> Messages </h1>

<ul>
  <% @messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<form action="/messages/new" method="get">
    <input type="submit" value="New message" />
</form>