<h1> Write a message! </h1>

<form action="/messages" method="post">
  <ul>
    <label for="message">Your message</label>
    <input type="text" name="message", placeholder="Type here" />
  </ul>
  <ul>
    <input type="submit" value="Submit" />
    </ul>
</form>