<form action ="/messages" method="post">
<label for="message">
Peep!
  <input type="text" name="message" />
  </label>
<lable for = "date-posted">
Date!
  <input type="datetime-local" id="date-posted"
       name="date-posted" value="2022-01-12T19:30"
       min="2022-01-07T00:00" max="2024-06-14T00:00">
       </label>
  <input type="submit" value="POST!" />
</form>


