body {
  background-color: rgb(255, 208, 0);
}
.button {
  color: #ffd000;
  /* border: solid 3px hotpink; */
  padding: 10px;
  margin: 20px;
  text-transform: uppercase;
  display: block;
  width: 105px;
  text-decoration: none;
  background-color: black;
  font-family: sans-serif;
}
