.page-title {
  margin: auto;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 40px;
  text-decoration: underline;
}

.page-container {
  border-radius: 10px;
  margin: auto;
  width: 80%;
  border: 1px solid;
  padding: 10px;
  background-color: azure;
  padding-top: 10px;
  padding-bottom: 25px;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding: 5px 20px;
  background-color: white;
  padding-bottom: 50px;
  padding-top: 50px;
  border-radius: 10px;
  border: 1px black solid;
}

.peep {
  width: 60%;
  margin-top: 10px;
  margin-left: 5%;
  padding: 5px 20px;
  background-color: lightgray;
  padding-bottom: 25px;
  border-radius: 10px;
  border: 1px gainsboro dashed;
}

.new-peep-button {
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: white;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}
.filter-button {
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: white;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
}

.reset-button {
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: white;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
}

.order-button {
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: white;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
}

.peep-display-options {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.new-peep-content {
  margin: auto;
  width: 40%;
  border: 5px solid;
  padding: 10px;
  background-color: cadetblue;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
.peep-textbox {
  width: 70%;
  height: 50px;
  border: 1px solid #eee;
}
