body {
  text-align: center;
  background-color: rgb(17, 29, 29);
  color: white;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
}

.text-input {
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  width: 75%;
}

.heading {
  color: rgb(3, 117, 184);
  font-size: 50px;
}

a {
  text-decoration: none;
}

a:visited { 
  text-decoration: none;
  color: rgb(3, 117, 184);
}

.new_post {
  margin: 15px;
}

.button {
  background-color: rgb(53, 132, 179);
  border-color: rgb(53, 132, 179);
  color: white;
  padding: 5px 25px;
  border-radius: 10px; 
}

.button:hover {
  background-color: rgb(1, 103, 161);
}

.container {
  border-style: solid;
  margin: 15px;
  border-radius: 10px;
  background-color: gray;
  border-color: gray;
}

.search-input {
  border-radius: 5px;
  padding: 3px;
  margin: 0 0 10px;
}

.search-submit {
  padding: 3px 25px;
}

.peep {
  font-size: 20px;
  color: lightblue;
}

.date {
  font-size: 15px;
  color: black;
}