.container {
  width: auto;
  margin: auto;
  text-align: center;
}

body {
  background-color: #0a192f;
}

h1 {
  margin: 30px;
  font-family: 'Amatic SC', cursive;
  text-shadow: 5px 0 #182a46;
  text-align: center;
  font-size: 7rem;
  color: #64ffda;
}

.row {
  font-size: 3rem;
  color: #64ffda;
  text-align: center;
  font-family: 'Amatic SC';
  margin-top: 4%;
}
