body {
  background-color: #1DA1F2;
}

#chitter_message {
  height: 150px;
  width: 500px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  margin: auto;
  border-radius: 5px;
  background: white;
  box-shadow: rgba(254, 205, 211, 0.1) 0px 4px 16px, rgba(254,205,211,0.1) 0px 8px 24px, rgba(254,205,211, 0.1) 0px 16px 56px;
}

#alignleft {
  padding-top: 25px;
  float: right;
}