body{
  color: #02075d;
  background-color: #afeeee;
  font-family: arial;
  font-size: 1.5em;
  text-align: center;
}

h3{
  text-align: left;
  width: 70vw;
}

p {
  text-align: left;
  background-color: white;
  padding: 5px;
  width: 70vw;
  margin: 0;
}

.date{
  background-color: #afcfee;
  font-size: 0.7em;
}

input, select{
  font-size: 0.7em;
}

input[type=submit] {
  padding:5px 15px;
  background:#02075d;
  color:white;
  border:0 none;
  cursor:pointer;
  width: 8vw;
}

.allcontent {
  margin: 0;
  margin-top: 3vh;
  margin-bottom: 5vh;
  position: absolute;
  left: 12vw;
  padding: 3vw;
  border: 3px double #02075d;
}

.centercontent {
  margin: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 3vw;
  border: 3px double #02075d;
}

.side{
  display: inline;
}

li{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.white-background{
  margin: 0;
  background-color: white;
}

form {
  margin: 0;
}

.delete{
  float: right;
}

.edit{
  float: right;
  margin-right: 1vw;
}
