<h1>
  <a href='/'>
    Chitter
  </a>
</h1>
<form action='/search' method='get'>
  <input type='text' name='search' placeholder='search text'>
  <input type='submit' value='Search'>
</form>
<p>Showing search results for '<%= @search %>'.
<ul>
  <% @peeps.reverse.each do |peep| %>
    <li>
      <p>
        <%= peep[:message] %> - <%= peep[:time] %>
      </p>
    </li>
  <% end %>
</ul>
