<form action="/posts/new" method="get">
  <input type="submit" value="Create post" />
</form>

<ul>
  <% @posts.each do |peep| %>
    <li>
      <%= peep.peep %> <%= peep.time %>
    </li>
  <% end %>
</ul>

<form action="/posts/sort-by" method="get">
  <input type="submit" value="Sort by date/time" />
</form>

<form action="/posts/search-by-keyword" method="post">
  <input type="text" name="keyword" placeholder="Search by keyword" />
  <input type="submit" value="Submit" />
</form>