<!DOCTYPE html>
<html>
<head>
	<title>New post</title>
	<style type="text/css">
		body {
			width: 90vw; 
			height: 100vh;
			text-align: center;
			background: radial-gradient(ellipse at top, #e66465, transparent),
            radial-gradient(ellipse at bottom, #4d9f0c, transparent);
      display: flex; 
      flex-direction: column;
      justify-content: center;
		}
	</style>
</head>
<body>

</body>
</html>
<form action="/posts" method="post">
	<input type="text" name="message" placeholder="What's up">
	<input type="submit" value="Post">
</form>